<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Acervo</span>
      <button class="btn btn-dark btn-lg" style="float:right" routerLink="/create-livros">Cadastrar</button>
      <h5 *ngIf="livros.length == 0" style="margin-top: 30px">Não existe livros cadastrados...</h5>
      <table *ngIf="livros.length > 0" class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Autor</th>
            <th>Título</th>
            <th>Editora</th>
            <th>Sinopse</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let livro of livros">
            <td>{{ livro.autor }}</td>
            <td>{{ livro.titulo }}</td>
            <td>{{ livro.editora }}</td>
            <td>{{ livro.sinopse }}</td>
            <td>
              <i class="fas fa-edit fa-lg text-info mr-2" [routerLink]="['/edit-livros/', livro.id]"></i>
              <i (click)="deletarLivro(livro.id)" class="far fa-trash-alt fa-lg text-danger" style="margin-left:10px"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
